<div id = "morePage">
   <h2>Partner Links:</h2>
    <ul>
        <li><a href= "http://www.hmns.org/butterflycenter
">Cokeral Butterfly Center</a></li>
        <li><a href= "http://www.cp4.hctx.net/mercer/
"> Mercer Gardening Center</a></li>
		<li><a href= "http://www.houstonaudubon.org/
"> Houston Auduvon</a></li>
        <li><a href= "http://www.gchouston.org/
"> Garden Club of Houston</a></li>
        <li><a href= "http://www.katyprairie.org/preserves.html
">Katy Prairie Conservancy</a></li>
        <li><a href= "http://www.houstonarboretum.org/
">Houston Arboretum and Nature Center</a></li>
        <li><a href= "http://www.houstonarboretum.org/
">Texas Parkes and Wildlife</a></li>
        <li><a href= "http://www.tpwd.state.tx.us/
">Texas Forest Service</a></li>
        <li><a href= "http://www.texasforestservice.tamu.edu/
">Urban Harvest</a></li>
        <li><a href= "http://www.urbanharvest.org/
">Native Plant Society</a></li>
        <li><a href= "http://www.npsot.org/Houston/
">Mercer Arboretum</a></li>
        <li><a href= "http://www.agrilifeextension.tamu.edu/
">Texas A&M AgriLife Extension</a></li>
        <li><a href= "http://www.chron.com/
">Houston Chronicle</a></li>
    </ul>
    
	<h2>Mission Statement:</h2>
    <div id="statement">
		<p>Local Leaves is a free app that serves the citizens of Houston and surrounding areas in finding their perfect plants. Houston is home to people from all around the world, but will only let select plants grow in its manic climate and are only listed through large complicated printed text. To tackle this problem we have put together an app that walks persons of all experience levels through the decision making process with HD photos, detailed information, and a profile page to organize your plant choices.</p>
	</div> 

</div>
