<div id="topMenu">

	<div>
		<a ng-click="$goBack()"><img id="backButton" ng-src= "img/back.png"></a>
	</div>
	
<!--	<div id= "title" >
		<h1>Local Leaves</h1>
	</div>-->
	<div>
		<img id="searchIcon" ng-src= "img/search.png">
	</div>
	
	<form  name="input" action="demo_form_action.asp" method="get">  <!--need correct get request-->
		<input id="searchBar" type="text" name ="searchItem" placeholder="Search for Plants">
		<input id= "searchButton" type="submit" name="submitButton" value="">
		
	</form>	
		<!-- the button is transparent, I tried making the search icon the background, but it was appearing out of the button area, 
		     so I just have an image in the background-->

	
	
		
</div>

/*
	get requests 
	rest angular
	

*/