<div class="row">
	<div id="experience">
		<div icon = 'experience'></div>
		<div class= "searchTitle"><h6>Experience</h6></div>
	</div>
	
	<div id="maintenance">
		<div icon = 'maintenance'></div>
		<div class= "searchTitle"><h6>Maintenance</h6></div>
	</div>

	<div id="wildlife">
		<div icon="wildlife" ></div>
		<div class= "searchTitle"><h6>Fav. Wildlife</h6></div>
	</div>

	<div id= "bloomSeason">
		<div icon= "bloomSeason" ></div> 
		<div class= "searchTitle"><h6>Fav. Season</h6></div>
		</div>
</div>
