/*Fan stuff*/
#searchContainer {
    position:relative;
/*    top:40px;*/
    display:inline;
	height: 100%;
    text-align:center;
    overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
#searchTitle{
    position:absolute;
    display:block;
/*
    border-style:solid;
    border-color:blue;
*/
/*    margin-top:-7%;*/
    left:40px;
    z-index:201;
}
.carouselSearch {
    position:relative;
    margin-left:auto;
    margin-right:auto;
}
.carouselWrap {
    position:relative;
    top:40px;
    height:70px;
    width:90%;
    margin-left:-5%;
    margin-right:5%;
}
.img-row-include {
    position:relative;
    left:0px;
    width:90%;
}
.svg-row{
    position:relative;
    width:100%;
    height:95%;
}
#moveLeft {
    position:relative;
    left:0px;
    width:30px;
}
#moveRight {
    position:relative;
    left:200px;
    width:30px;